@page "/"
<div class="body">
    <div class="login-register-container">
        <h1>Virtual Gardener</h1>
        <p>
            Please log in to continue.
        </p>

        <label for="username">Email</label>
        <input type="text" id="username" name="username" required>

        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>

        <button type="submit">Log In</button>

        <p>Don't have an account? <a href="/signup">Sign up</a></p>
    </div>
</div>