@page "/MyPlants"

@inherits BaseAuthorizedPage
@rendermode InteractiveServer

@if (IsAuthorized)
{
    <div class="body">
        <NavBar UserAuthState="@UserAuthState"></NavBar>

        <div class="content">
                <PlantCreator @ref="_plantCreator"
                              UserAuthState="UserAuthState"
                              RefreshPlants="RefreshPlants"/>
            <div class="list">
                <PlantsList PlantsSource="_myPlants"/>
            </div>
            <button class="new-plant-button" @onclick="async() =>await _plantCreator.ShowPopupAsync()">New
                Plant
            </button>
        </div>
    </div>
}