.body {
    .content {
        display: flex;
        flex-direction: column;
        align-items: center;

        .list{
            max-height: 75dvh;
            overflow-y: auto;
        }
    }

    .new-plant-button {
        width: 250px;
        height: 50px;
        margin-top: 30px;
    }
}